<nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#/user/{{model.userId}}/home" class="navbar-brand page-scroll">Movie Search <span class="backgroundFont glyphicon glyphicon-facetime-video"> </span> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse " id="navbar">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#/user/{{model.userId}}/home">Search Movies</a>
            </li>
            <li>
                <a href="#/user/{{model.userId}}">Profile</a>
            </li>
            <li>
                <a href="#/user/{{model.userId}}/findPeople">Find People</a>
            </li>

        </ul>
    </div>
    </div>

</nav>

<div class="container-fluid pad-top">
    <div class="row">
    <div ng-if="model.success"
         class="alert alert-success form-control"
         role="alert">
        {{model.success}}
    </div>
    <div ng-if="model.error"
         class="alert alert-danger form-control"
         role="alert">
        {{model.error}}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 pad">
        <ul class="nav nav-tabs">
            <li class=""><a href="#/user/{{model.userId}}/{{model.otherUserId}}/profile" class="backgroundFont"  data-toggle="tab" aria-expanded="false">Profile</a></li>
            <li class=""> <a href="#/user/{{model.userId}}/{{model.otherUserId}}/likes" class="backgroundFont" data-toggle="tab" aria-expanded="false">Likes</a></li>
            <li class=""> <a href="#/user/{{model.userId}}/{{model.otherUserId}}/reviews" class="backgroundFont" data-toggle="tab" aria-expanded="false">Reviews</a></li>
            <li class=""> <a href="#/user/{{model.userId}}/{{model.otherUserId}}/followers" class="backgroundFont" data-toggle="tab" aria-expanded="false">Followers</a></li>
            <li class="active"> <a href="#/user/{{model.userId}}/{{model.otherUserId}}/follows" class="backgroundFont" data-toggle="tab" aria-expanded="true">Follows</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="follows">
                <div class="row">
                    <div class="col-lg-3 hidden-lg col-md-3 hidden-md col-sm-3 hidden-sm">
                    </div>
                    <div  class="col-lg-6 col-md-6 col-sm-6 paddingfromtop"  ng-if="model.isFollowing" >
                        <div       ng-repeat="follow in model.follows">
                            <div class="well well-sm ">
                                <h5><a class="backgroundFont" href="#/user/{{model.userId}}/{{follow.otherUserId}}/profile">
                                    {{follow.followed}}</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6" ng-if="!model.isFollowing" >
                        <h3> Not following anyone yet!!</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
            </div>
        </div>
    </div>
</div>
    </div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container ">
        <div class="row  navbar-text">
            <div class="col-lg-3 col-md-3 col-sm-3 bottom-cut footer-fontcolor ">
                <a href="#/user/{{model.userId}}/home">
                    <span class="footer-fontcolor glyphicon glyphicon-facetime-video"></span>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
            </div>
        </div>
    </div>
</nav>

