<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-mid-1 col-lg-1">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.id}}/website" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left"/>
                    </a>
                </p>
            </div>

            <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                <a class="navbar-brand" href="#">
                    <span class="colorWhite">
                        Websites
                    </span>
                </a>
            </div>
            <div class="hidden-xs hidden-sm col-md-1 col-lg-1 ">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.id}}/website/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus"/>
                    </a>
                </p>
            </div>

            <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
                <!--<a class="navbar-text" href="#">-->
                <a class="colorWhite navbar-brand">
                    New Website
                </a>
                <!--</a>-->
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right">
                    <a ng-click="model.createWebsite(name,description)" class="navbar-link">
                        <span class="glyphicon glyphicon-ok"/>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

    <div class="container-fluid">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-5 col-lg-5 right-line">
                <ul class="list-group">
                    <li ng-repeat="website in model.websites" class="list-group-item">
                        <a href="#/user/{{website.developerId}}/website/{{website._id}}/page">
                            {{website.name}}
                        </a>
                        <a href="#/user/{{website.developerId}}/website/{{website._id}}" class="pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-11 col-sm-12 col-md-7 col-lg-7">

                <form>
                    <div class="form-group">
                        <label class="colorblack" for="name">Name</label>
                        <input ng-model="name" type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label class="colorblack" for="description">Description</label>
                        <textarea ng-model="description" id="description" class="form-control" rows="6" placeholder="Description"></textarea>
                    </div>
                </form>

            </div>
        </div>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.id}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user"/>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
