input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
}
.navbar-default{
    background-color: DodgerBlue;
}
.navbar-default .navbar-brand{
    color: white;
}
.glyphicon-ok{
    margin-right: 17px;
    color: white;

}
.glyphicon-user:before{
    color: white;
}
.glyphicon-plus{
    margin-right: 17px;
    color: white;
}

.navbar-header{
    float:none;
}
.glyphicon-chevron-left{
    color: white;
    margin-left:7px;
}
.row{
    color:dodgerblue;
}
.glyphicon-cog{
    margin-right: 17px;
    float:none;
}
.leftTitle{
    float: none;
}