.login-margin{
    margin-top: 70px;
}
.right-mar{
    margin-right: 27px;
}

input.form-control{
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

p.navbar-text.pull-right{
    margin-right: 15px;
}

p.navbar-text.pull-left{
    margin-left: 15px;
}

a.color-black{
    color: black;
}

input.form-control {
    margin-bottom: 5px;

}
body {
    padding-top: 45px;
    padding-bottom: 60px;
}
.bodycolr{
    background-color: #c7ddef;
}
.box-search{
    box-shadow: 0px 1px 3px #890;
    padding-bottom: 5px;
}
.frn-page{
    background-image: url(friendspage.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    position: absolute;
}

.pad-top-lil{
    padding-top: 60px;
}
.pad-top{
    padding-top: 70px;
}
.pad-toponprofile{
    padding-top: 50px;
}

.padtopProfilepage{
    padding-top: 80px;
}

.paddingfromtop{
    padding-top: 10px;
}

.res-back-color{
    background-color: lightseagreen;
}
.footer-fontcolor{
    color: #ec971f;



}
.adminfont{
    font-weight: 500;
    color: #ff7a5c;

}

.fontcol{
    color: #e5e5e5;
}

.padddetail-rest{
    padding-top: 70px;
}

.font-colr{
    color: white;
    font-family: monospace;
    font-weight: 900;
    font-stretch: expanded;

}
.footer-back-col{
    background-color: #204d74;

}

.homefont{
    font-weight: 900;
    color: antiquewhite;
    font-family: cursive;
    font-style: oblique;
}

.restaurant-searchfont{
    color: #ec971f;
}

.admin-col{
    background-color: #ec971f;
}
.home-pic {

    background-size: cover;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    position: static;
}

.backcolr{
    background-color: #e4b9c0;
}
.pad-botm{
    padding-bottom: 5px;
}
.pad-top-let{ padding-top: 5px}
.back-pic{
    background-image: url(deadpool.jpg);
    /*background-size: cover;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*background-position: center;*/
    /*position: relative;*/
}

.restaurant-detail{
    background-color: #b4a4ff;
    background-size: cover;
    width: 100%;
    height: auto;
    background-position: center;
    position: relative;
}


.pad-left{
    padding-left: 15px;
}

.home-padding{
    padding-top: 150px;
    padding-bottom: 150px;
}

.res-pic{
    z-index: 2;
    background: #fffede;

}

.block-disp{
    width: 320px;
    padding: +10px;
    border: +5px  solid grey  ;
    margin: 10px;
    color: brown;
    background-color: white

}

.res-name{
    /*background-color: #afd9ee;*/
    font-size: medium;


}

.home-box-pad{
    padding: 20px 20px 10px 20px
}


.box-search2{
    box-shadow: 0px 0px 0px #999;
}

.pad{
    padding: 30px;
}

.img-box{
    height: 75px;
    width: 75px;
    max-height:75px;
    max-height:75px;
}

.HTML {
    padding-top: 15px;
}

.deletion-colr{
    color: #ff041c;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



a.actionlink {text-decoration: none;
}
.para-pad {
    padding-top: 10px;
}

.para-end {

    padding-bottom: 20px;
}
.form-group{
    margin-top: 10px;
}
.
p.navbar-text.pull-right{
    margin-right: 10px;
    padding-right: 20px;
}

.bottom-profile{
    position: absolute;
    right: 15px;
}
p.navbar-text.pull-left{
    padding-left: 15px;
}

.list-group{
    border: none;
}

.validation{
    background-color: crimson;
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
    z-index: 2;
}
.navbar-header{

    float: none;
    position: absolute;
    width: 100%;
    top:0;
    text-align: center;

}

.bodyhome{
    background-image: url("deadpool.jpg");
    width: 100%;
    background-repeat: no-repeat;

}

.des-foot{
    width: 100%;
    height: 100px;
    bottom:0;
    position: fixed;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #c0a16b
}
.backgroundFont{
    color: #ec971f;
}

.fontwt{
    font-weight: 900;
}

.bottom-cut{
    position: absolute;
    left: 15px;
}

