<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.id}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <form name="myForm">

        <div class="form-group" ng-model="model.widget.text"
             text-angular
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
        </div>
    </form>


    <a class="btn btn-danger btn-block" ng-click="model.deleteWidget()">Delete</a>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <div class="col-xs-12 text-center">
            <a href="#/user/{{model.id}}" role="button">
                <span class="glyphicon glyphicon-user pull-right navbar-text"></span>

            </a>
        </div>
    </div>
</nav>